<%- include("blocks/header.ejs", { bot: bot, title: "Report Website" }) %>
  <div class="header-extension">
    <p class="header-extension-context">Report Website</p>
  </div>

  <form method="post">
    <section class="settings-section">
      <% if (alertRed) { %>
        <div class="alert-red">
          <%- alertRed %>
        </div>
        <br>
      <% } %>
      <% if (alertGreen) { %>
        <div class="alert-green">
          <%- alertGreen %>
        </div>
        <br>
      <% } %>
      <p class="settings-section-title">Website URL:</p>
      <input type="text" name="url" class="basic-input" required>
      <br><br>
      <p class="settings-section-title">Where is hosted? (optional)</p>
      <input type="text" name="host" class="basic-input">
      <br><br>
      <p class="settings-section-title">Game:</p>
      <div class="basic-select">
        <select name="game">
          <option value="1">Growtopia</option>
          <option value="1">Growtopia</option>
        </select>
      </div>
      <br>
      <p>Track your report on <a href="/track" class="url">this page</a>.</p>
      <button type="submit" class="basic-btn">Report</button>
      <br><br>
    </section>
  </form>
<%- include("blocks/footer.ejs") %>
